@font-face {
  font-family: Azonix;
  src: url(./fonts/Azonix.otf);
}

@font-face {
  font-family: MontSerrat;
  src: url(./fonts/Montserrat.ttf);
}

.title {
  font-family: Azonix;
}

.text-primary {
  color: #5628b8;
}
.secondary {
  color: #218bad;
}

html {
  font-family: MontSerrat;
  background-color: #262626;
  color: #f7f7f7;
}

.h-100vh {
  height: 100vh;
}

.h-18 {
  height: 4.5rem;
}
.w-18 {
  width: 4.5rem;
}

.h-128 {
  height: 32rem;
}
